.container {
  float: right;
  margin: 15px 50px 0 0;
  transition: all 300ms;
}

.scrolled {
  margin: 10px 50px 0 0;
  transition: all 300ms;
}

.list {
  list-style-type: none;
  float: left;
  margin-right: 16px;
  padding-top: 0px;
  transition: all 500ms;
}

.list:hover {
  padding-top: 3px;
  transition: all 500ms;
}

.list > a {
  position: relative;
  text-decoration: none;
}
.list > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -4px;
  background-color: #494949;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.list > a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.item {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #494949;
  text-transform: uppercase;
  font-size: 16px;
  text-decoration: none;
}

.item:focus {
  outline: none;
}
