.container {
  float: right;
  margin: 15px 50px 0 0;
  transition: all 300ms;
}

.scrolled {
  margin: 10px 50px 0 0;
  transition: all 300ms;
}

.list {
  list-style-type: none;
  float: left;
  margin-right: 16px;
  padding-top: 0px;
  transition: all 500ms;
}

.list:hover {
  padding-top: 3px;
  transition: all 500ms;
}

.item {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #494949;
  text-transform: uppercase;
  font-size: 16px;
  text-decoration: none;
}

.item:focus {
  outline: none;
}
