.logo {
  width: 140px;
  float: left;
  margin: 15px 0 0 50px;

  opacity: 1;
  transition: all 300ms;
}

.logo:hover {
  opacity: 0.8;
  transition: all 300ms;
}

.logo--scrolled {
  margin: 10px 0 0 50px;
}

.logo__img {
  width: 100%;
}