.container {
  min-height: 100%;
}

.avatar {
  width: 200px;

  transform: scale(1.0);
  transition: all 300ms;
}

.avatar:hover {
  transform: scale(1.1);
  transition: all 300ms;
}

.name {
  font-size: 25px;
}

.description {
  width: 700px;
  margin: 0 auto 0 auto;
}