.contact {
  min-height: 100%;
}

.contact__form__input--global {
  font-family: 'Roboto Slab', serif;
  font-size: 15px;
  margin-bottom: 10px;
  border-radius: 2px;
  border: 2px solid;
  border-color: #494949;
  outline: none;
}

.contact__form__textinput {
  color: #494949;
  padding-left: 10px;
  width: 552px;
  height: 30px;
}

.contact__form__textinput:first-child {
  margin-top: 10px;
}

.contact__form__textarea {
  color: #494949;
  padding-left: 10px;
  width: 550px;
  height: 105px;
  resize: none;
}

.contact__form__submit {
  background-color: #f0f0f0;
  color: #494949;
  width: 566px;
  height: 50px;

  background-color: #f0f0f0;
  color: #494949;
  transition: all 300ms;
}

.contact__form__submit:hover {
  background-color: #494949;
  color: #f0f0f0;
  transition: all 300ms;
}