.container {
  background-color: #f0f0f0;
  padding-top: 200px;
  min-height: calc(100% - 200px);
}

.title {
  margin: 0 auto 0 auto;
  font-size: 110px;
}

.subtitle {
  margin: 0 auto 0 auto;
  font-size: 25px;
}

.arrow {
  width: 32px;
  margin-top: 150px;

  opacity: 0.7;
  transition: all 200ms;
}

.arrow:hover {
  opacity: 1;
  transition: all 200ms;
}