.container {
  min-height: 100%;
  background-color: #f0f0f0;
}

.projects {
  width: 900px;
  margin: 0 auto 0 auto;
}

.list {
  padding: 0;
}

.item {
  width: 33.3%;
  float: left;
  margin-bottom: 15px;
}

.img {
  width: 280px;
  height: 170px;
  border-radius: 5px;

  transform: scale(1.0);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.0);
  transition: all 300ms;
}

.img:hover {
  transform: scale(1.1);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  transition: all 300ms;
}